<div class="bar bar-header header-top">
    <button class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div>
<div class="dashboard-search">
    <div class="item-input-search">
        <button class="button button-icon icon ion-android-bar"></button>
        <div class="search-bar"><input placeholder="Search..." ng-keyup="searchList($event)" type="text"></div>
        <button class="button button-icon icon ion-ios-search-strong"></button>
    </div>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light tabs-my">
        <div class="tabs">
            <a class="tab-item active" href="#">
                Current Surveys
            </a>
            <a class="tab-item" href="#">
                Pending Surveys
            </a>
        </div>
    </div>
</div>
<div class="content-section">
<ion-content>
<div class="my-list">
<div class="Serach-filter">
<div class="search-it"> 
<div class="icon-search"><i class="icon ion-android-bar"></i></div>
<div class="icon-text">Filter by Area Office</div> 
<div class="icon-close"><i class="icon ion-android-close"></i></div>
</div>
<div class="search-select"> 
    <select>
	<option selected>Select Month</option>
      <option>Blue</option>
      <option>Green</option>
      <option>Red</option>
    </select>
</div>
<div class="search-select"> 
    <select>
	<option selected>Select Month</option>
      <option>Blue</option>
      <option>Green</option>
      <option>Red</option>
    </select>
</div>
<div class="search-select"> 
    <select>
	<option selected>Select Dealer</option>
      <option>Blue</option>
      <option>Green</option>
      <option>Red</option>
    </select>
</div>
</div>
    <ul class="list">
        <li class="item">
            <div class="row">
                <div class="col col-40"><span>10000</span><small>JASWANT MOTORS</small></div>
                <div class="col col-25"><span>North</span><small>Chandigarh</small></div>
                <div class="col"><span>June<i class="icon ion-android-arrow-dropdown"></i></span><small>2016</small></div>
                <div class="col"><div class="start">START</div></div>
                <div class="col"><div class="size-40"><i class="icon ion-android-more-vertical"></i></div></div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <div class="col col-40"><span>10000</span><small>JASWANT MOTORS</small></div>
                <div class="col col-25"><span>North</span><small>Chandigarh</small></div>
                <div class="col"><span>June<i class="icon ion-android-arrow-dropdown"></i></span><small>2016</small></div>
                <div class="col"><div class="start">START</div></div>
                <div class="col"><div class="size-40"><i class="icon ion-android-more-vertical"></i></div></div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <div class="col col-40"><span>10000</span><small>JASWANT MOTORS</small></div>
                <div class="col col-25"><span>North</span><small>Chandigarh</small></div>
                <div class="col"><span>June<i class="icon ion-android-arrow-dropdown"></i></span><small>2016</small></div>
                <div class="col"><div class="start">START</div></div>
                <div class="col"><div class="size-40"><i class="icon ion-android-more-vertical"></i></div></div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <div class="col col-40"><span>10000</span><small>JASWANT MOTORS</small></div>
                <div class="col col-25"><span>North</span><small>Chandigarh</small></div>
                <div class="col"><span>June<i class="icon ion-android-arrow-dropdown"></i></span><small>2016</small></div>
                <div class="col"><div class="survey-exp">Survey <br/>Expired</div></div>
                <div class="col"><div class="size-40"><i class="icon ion-android-more-vertical"></i></div></div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <div class="col col-40"><span>10000</span><small>JASWANT MOTORS</small></div>
                <div class="col col-25"><span>North</span><small>Chandigarh</small></div>
                <div class="col"><span>June<i class="icon ion-android-arrow-dropdown"></i></span><small>2016</small></div>
                <div class="col"><div class="start">START</div></div>
                <div class="col"><div class="size-40"><i class="icon ion-android-more-vertical"></i></div></div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <div class="col col-40"><span>10000</span><small>JASWANT MOTORS</small></div>
                <div class="col col-25"><span>North</span><small>Chandigarh</small></div>
                <div class="col"><span>June<i class="icon ion-android-arrow-dropdown"></i></span><small>2016</small></div>
                <div class="col"><div class="start">START</div></div>
                <div class="col"><div class="size-40"><i class="icon ion-android-more-vertical"></i></div></div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <div class="col col-40"><span>10000</span><small>JASWANT MOTORS</small></div>
                <div class="col col-25"><span>North</span><small>Chandigarh</small></div>
                <div class="col"><span>June<i class="icon ion-android-arrow-dropdown"></i></span><small>2016</small></div>
                <div class="col"><div class="start">START</div></div>
                <div class="col"><div class="size-40"><i class="icon ion-android-more-vertical"></i></div></div>
            </div>
        </li>
    </ul>

</div>
</ion-content>
</div>