<div class="bar bar-header header-top">
    <button class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div>
<div class="dashboard-search">
<div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
    <div class="tabs tabs-icon-left">
        <a class="tab-item active" href="#">
            <i class="icon icon ion-record"></i>
            <span>Guidelines</span>
        </a>
        <a class="tab-item" href="#">
            <i class="icon icon ion-record"></i>
            <span>Sales Data</span>
        </a>
        <a class="tab-item" ui-sref="search">
            <i class="icon icon ion-record"></i>
            <span>Sales Norms</span>
        </a>
		<a class="tab-item" href="#">
		<i class="icon icon ion-record"></i>
            <span>Survey</span>
            </a>
            <a class="tab-item" href="#">
			<i class="icon icon ion-record"></i>
             <span>Remark</span>
            </a>
    </div>
</div>
</div>
<div class="guideline">
    <ion-content>
        <div class="list">
            <div class="item item-divider heading-title">
			<div class="dealer">Dealer Survey for</div>
			<div class="dealer-name">JASWANT MOTORS (<span> 10000 </span>) <img src="../img/excel.png"></div>
			</div>
			<div class="item items-content">
			<div class="row">
			<div class="col col-50">
			
			<span>Departmen</span>
			<small>Sale</small>
			</div>
			<div class="col col-50">
			<span>Created by</span>
			<small>Amandeep Singh</small>
			</div>
			</div>
			</div>
			
			<div class="item items-content1">
			<div class="row">
			<div class="col col-50 padding-right" ion-datetime-picker date ng-model="dateValue">
			<div class="date-h">Date</div>
			<div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
			</div>
			<div class="col col-50 padding-left" ion-datetime-picker time seconds ng-model="timeValue">
			<div class="date-h">Time</div>
			<div class="date-f">{{timeValue| date: "H:mm:ss"}}<i class="icon ion-android-time"></i></div>
			</div>
			</div>
            </div>
			<div class="item items-content">
			<div class="guideline-content">
			<h2>Guidelines</h2>
			<ul>
			<li><span>Response to all questions is mandatory .</span></li>
			<li><span>Providing action plan with time line is mandatory in case selected option is "NO".</span></li>
			<li><span>If equipments are operational then only marks to be given.</span></li>
			<li><span>If the candidate has undergone the training mentioned in program norm only then he is to be considered as Trained.</span></li>
			</ul>
			</div>
			</div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
     <button class="button button-icon"><i class="ion-ios-arrow-left"></i> Previous</button>
	  <button class="button button-icon">Next <i class="ion-ios-arrow-right"></i></button>
    </ion-footer-bar>
</div>
