<div class="login-screen">
<div class="login-top">
    <div class="img-logo"><img   src="img/logo.png"></div>
</div>
<div class="list-sec">
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">username</span>
    <input type="text" placeholder="" ng-model="user.email">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">password</span>
    <input type="password" placeholder="" ng-model="user.password">
  </label>
        <div class="btn-section">
		<div class="checkbox1">
			<input id="check1" type="checkbox" name="remember" value="check1" data-ng-click="rememberMe()" data-ng-model="remember" >
			<label for="check1">Remember me</label>
		</div>
        </div>
        <div class="btn-section">
  <button class="button rounder-btn button-outline button-assertive" ng-click="login(user.email,user.password)">Login</button>
</div>
     <div class="forget-password"><a href="#/dashboard">Forgot password?</a></div>
</div>
</div>
</div>
