<div class="bar bar-header header-top">
    <button class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div>
<div class="dashboard-search">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
        <div class="tabs tabs-icon-left">
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Guidelines</span>
            </a>
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Sales Data</span>
            </a>
            <a class="tab-item active" ui-sref="search">
                <i class="icon icon ion-record"></i>
                <span>Sales Norms</span>
            </a>
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Survey</span>
            </a>
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Remark</span>
            </a>
        </div>
    </div>
</div>
<div class="guideline">
    <ion-content>
        <div class="item item-divider">Dealer Code: <span>10000</span></div>
<div class="item border-none">
<div class="text-items">
  <label>Action Plan/Remark(TM)</label>
  <textarea placeholder="">Praesent auctor est lectus, a dictum ipsum egestas at. Mauris vitae
aliquam est. Donec in diam diam.</textarea>
  <ul>
  <li><span><a href="">Check Previous Action Plan</a></span></li>
  </ul>
</div>
<div class="text-items">
  <label>Action Plan/Remark(ASM)</label>
  <textarea placeholder="" disabled></textarea>
  <ul>
  <li><span><a href="">Check Previous Action Plan</a></span></li>
  </ul>
</div>
<div class="text-items">
  <label>Action Plan/Remark(ZM)</label>
  <textarea placeholder="" disabled=""></textarea>
  <ul>
  <li><span><a href="">Check Previous Action Plan</a></span></li>
  </ul>
</div>
</div>

    </ion-content>
    <ion-footer-bar class="bar-positive remark-footer">
 <button class="button full-width-btn">Submit</button>
    </ion-footer-bar>
</div>