<div class="bar bar-header header-top">
    <button class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div>
<div class="dashboard-search">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
        <div class="tabs tabs-icon-left">
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Guidelines</span>
            </a>
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Sales Data</span>
            </a>
            <a class="tab-item" ui-sref="search">
                <i class="icon icon ion-record"></i>
                <span>Sales Norms</span>
            </a>
            <a class="tab-item" href="#">
                <i class="icon icon ion-record"></i>
                <span>Survey</span>
            </a>
            <a class="tab-item" href="#">
                <i class="icon icon ion-record"></i>
                <span>Remark</span>
            </a>
        </div>
    </div>
</div>
<div class="guideline">
    <ion-content>
        <div class="item item-divider">Dealer Code: <span>10000</span></div>
		<div class="sales-accordion">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-expanded="false" aria-controls="collapseTwo">
                                Sales
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="row border-bottom">
                                <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>Tgt</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>Ach</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>%Ach</span>
                                        <small>50%</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>LY</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>%Gr</span>
                                        <small>50%</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-20"><div class="my-list-items"><strong>YTM</strong></div></div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>Tgt</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>Ach</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>%Ach</span>
                                        <small>50%</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>LY</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>%Gr</span>
                                        <small>50%</small>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseOne1" href="#collapseOne1">
                                            MC Sales
                                        </a>
                                    </div>
                                    <div id="collapseOne1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            <div class="row border-bottom">
                                                <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Tgt</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Ach</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Ach</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>LY</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Gr</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Tgt</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Ach</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Ach</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>LY</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Gr</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseOne2" href="#collapseOne2">
                                            Scooter Sales
                                        </a>
                                    </div>
                                    <div id="collapseOne2" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            <div class="row border-bottom">
                                                <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Tgt</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Ach</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Ach</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>LY</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Gr</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Tgt</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Ach</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Ach</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>LY</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Gr</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading total-count">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseOne3" href="#collapseOne3">
                                            Total TW Sales
                                        </a>
                                    </div>
                                    <div id="collapseOne3" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            <div class="row border-bottom">
                                                <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Tgt</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Ach</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Ach</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>LY</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Gr</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Tgt</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>Ach</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Ach</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>LY</span>
                                                        <small>890</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="my-list-items">
                                                        <span>%Gr</span>
                                                        <small>50%</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
			  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       Service
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
   <div class="row border-bottom">
                                <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>Tgt</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>Ach</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>%Ach</span>
                                        <small>50%</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>LY</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>%Gr</span>
                                        <small>50%</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-20"><div class="my-list-items"><strong>YTM</strong></div></div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>Tgt</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>Ach</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>%Ach</span>
                                        <small>50%</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>LY</span>
                                        <small>890</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="my-list-items">
                                        <span>%Gr</span>
                                        <small>50%</small>
                                    </div>
                                </div>
                            </div>
							<div class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#service" href="#service">
                Spares Parts Business
            </a>
        </div>
        <div id="service" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="row border-bottom">
                    <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Tgt</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Ach</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Ach</span>
                            <small>50%</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>LY</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Gr</span>
                            <small>50%</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Tgt</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Ach</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Ach</span>
                            <small>50%</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>LY</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Gr</span>
                            <small>50%</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#service1" href="#service1">
                Service Reporting- Warranty
            </a>
        </div>
        <div id="service1" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="row border-bottom">
                    <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Tgt</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Ach</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Ach</span>
                            <small>50%</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>LY</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Gr</span>
                            <small>50%</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Tgt</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Ach</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Ach</span>
                            <small>50%</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>LY</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Gr</span>
                            <small>50%</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading total-count">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#service2" href="#service2">
             Service Reporting Total -
            </a>
        </div>
        <div id="service2" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="row border-bottom">
                    <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Tgt</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Ach</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Ach</span>
                            <small>50%</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>LY</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Gr</span>
                            <small>50%</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-20"><div class="my-list-items"><strong>Month</strong></div></div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Tgt</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>Ach</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Ach</span>
                            <small>50%</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>LY</span>
                            <small>890</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-list-items">
                            <span>%Gr</span>
                            <small>50%</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
    </div>
  </div>
</div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <button class="button button-icon"><i class="ion-ios-arrow-left"></i> Previous</button>
        <button class="button button-icon">Next <i class="ion-ios-arrow-right"></i></button>
    </ion-footer-bar>
</div>
</div>