<div class="bar bar-header header-top">
    <button class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div>
<div class="dashboard-search">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
        <div class="tabs tabs-icon-left">
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Guidelines</span>
            </a>
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Sales Data</span>
            </a>
            <a class="tab-item active" ui-sref="search">
                <i class="icon icon ion-record"></i>
                <span>Sales Norms</span>
            </a>
            <a class="tab-item" href="#">
                <i class="icon icon ion-record"></i>
                <span>Survey</span>
            </a>
            <a class="tab-item" href="#">
                <i class="icon icon ion-record"></i>
                <span>Remark</span>
            </a>
        </div>
    </div>
</div>
<div class="guideline">
    <ion-content>
        <div class="item item-divider">Dealer Code: <span>10000</span></div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-expanded="false" aria-controls="collapseTwo">
                            General Manager
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">0</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Showroom Manager
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingfour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                            Network Manager
                        </a>
                    </h4>
                </div>
                <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingfive">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                            Receptionis
                        </a>
                    </h4>
                </div>
                <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingsix">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsefive">
                            Hostes
                        </a>
                    </h4>
                </div>
                <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingsev">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesev" aria-expanded="false" aria-controls="collapsefive">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </h4>
                </div>
                <div id="collapsesev" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsev">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingeight">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="false" aria-controls="collapsefive">
                            GoodLife Executive
                        </a>
                    </h4>
                </div>
                <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingnine">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsenine" aria-expanded="false" aria-controls="collapsefive">
                            Marketing Executive
                        </a>
                    </h4>
                </div>
                <div id="collapsenine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingnine">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingten">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseten" aria-expanded="false" aria-controls="collapsefive">
                            Rural Support - Sales
                        </a>
                    </h4>
                </div>
                <div id="collapseten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingten">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingelev">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseelev" aria-expanded="false" aria-controls="collapsefive">
                            Accountant
                        </a>
                    </h4>
                </div>
                <div id="collapseelev" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingelev">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingtw">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseetw" aria-expanded="false" aria-controls="collapsefive">
                            Billing Executive
                        </a>
                    </h4>
                </div>
                <div id="collapseetw" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtw">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingth">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseeth" aria-expanded="false" aria-controls="collapsefive">
                            Cashier
                        </a>
                    </h4>
                </div>
                <div id="collapseeth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingth">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingfourteen">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseefourteen" aria-expanded="false" aria-controls="collapsefive">
                            IT Support Executive
                        </a>
                    </h4>
                </div>
                <div id="collapseefourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfourteen">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingfivteen">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseefivteen" aria-expanded="false" aria-controls="collapsefive">
                            Delivery Executive
                        </a>
                    </h4>
                </div>
                <div id="collapseefivteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfivteen">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingsixteen">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseesixteen" aria-expanded="false" aria-controls="collapsefive">
                            PDI Technician
                        </a>
                    </h4>
                </div>
                <div id="collapseesixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsixteen">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">0</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">1</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f">Praesent auctor est lectus, a dictum ipsum.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <button class="button button-icon"><i class="ion-ios-arrow-left"></i> Previous</button>
        <button class="button button-icon">Next <i class="ion-ios-arrow-right"></i></button>
    </ion-footer-bar>
</div>
</div>