  /* this css created by pradeep singh rawat*/
.img-logo {
    padding: 20px 0 0;
    position: relative;
    text-align: center;
	position: relative;
    z-index: 999;
}
  .login-top {
    /* float: left; 
    overflow: hidden;*/
    width: 100%;
	position: relative;
	/* height: 230px; */
	 background: #e63128 none repeat scroll 0 0;
}
  .login-top:after{
    background-size: cover;
    border-bottom: 300px solid #fff;
    border-left: 1000px solid transparent;
    bottom:-1px;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 0;
}
/*=-=-=-=-=-=-=-login-form section css =-=-=-=-=-=-=-*/
.list-sec .list {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
}
.list-sec .input-label{
	text-align:center;
	width:100%;
	font-size:16px;
	padding:0 0 0px 0;
	color:#888888;
	max-width:100%;
}
.list-sec .list .item-input input[type="text"], .list-sec .list .item-input input[type="password"]
{
	text-align:center;
	width:100%;
	padding:0 0 5px 0;
	color:#000000;
	font-size:18px;
	border-bottom:1px #ccc solid;	
}
.list-sec .item-input {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.list-sec .item{border:0px;}
.btn-section{width:100%; display:block;}
.rounder-btn{border-radius:50px; width:200px; min-height: 54px; font-size:18px; border-width:2px; margin:10px 0;}
.forget-password{display:block; width:100%; padding:10px 0 0px 0;}
.forget-password a{color:#ef3e35;font-size:15px; text-decoration:none;}
.checkbox1{display:block; width:100%; padding:10px 0 10px 0;}
.checkbox1 label {
	margin-bottom: 10px;
	color:#ef3e35;
	font-size:15px;
}
.checkbox1 input[type=checkbox] {
	display: none;
}
.checkbox1 label:before {
    border-radius: 2px;
}
.checkbox1 input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}
.checkbox1 label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	font-size: 15px;
	vertical-align:middle;
	margin-right: 10px;
	/* position: absolute; */
	left: 0;
	bottom: 1px;
	text-align: center;
    line-height: 15px;
	background-color: #aaa;
	/* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); */
}
.login-screen{
		background:#ffffff url("../img/login-ft.png") no-repeat fixed bottom right; 
}
/*=-=-=-=-=-=-=-login-form section css =-=-=-=-=-=-=-*/

/*=-=-=-=-=-=-=-Dashboard section css =-=-=-=-=-=-=-*/
.header-top{background: #ef3e35;border: medium none;}
.header-top.bar .title{color:#fff;}
.header-top .button{color:#fff;min-height:20px; line-height:20px;}
.dashboard-search{background: #ef3e35;margin-top:42px; padding:15px 7px 5px 7px;}
.item-input-search {align-items: center;display: flex;overflow: hidden;padding:0px;position: relative;}
.item-input-search .button-icon .icon::before, .button-icon.icon::before {color: #fff;font-size: 24px;line-height: 30px;}
.item-input-search .button {width:50px;}
.search-bar{width:94%;}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aaaaaa; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaaaaa; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
  text-indent: 0; }
.search-bar input[type="text"]{width:100%;border:none;border-bottom:solid 1px #f47872; background:none;color:#fff;}
.search-bar input::-moz-placeholder,
.search-bar textarea::-moz-placeholder {
  color: #ffffff; 
}

.search-bar input:-ms-input-placeholder,
.search-bar textarea:-ms-input-placeholder {
  color: #ffffff; 
}

.search-bar input::-webkit-input-placeholder,
.search-bar textarea::-webkit-input-placeholder {
  color: #ffffff;
  text-indent: 0; 
}
.tabs-my {
    padding-top: 10px;
}
.tabs-striped.tabs-top.tabs-background-positive.tabs-color-light.tabs-my .tabs {
    background-color: transparent;
    border: medium none;
    margin: 0;
    position: relative;
    top: 0;
}
.tabs-striped.tabs-top.tabs-background-positive.tabs-color-light.tabs-my .tabs a {
    background: #d73830 none repeat scroll 0 0;
    border-radius: 0 40px 40px 0;
    color: #fff;
    font-size: 14px;
	line-height:40px;
	height:80%;
    font-weight: 400;
    margin: 0;
}
.tabs-striped.tabs-top.tabs-background-positive.tabs-color-light.tabs-my .tabs a:first-child{border-radius:40px 0px 0px 40px;}
.tabs-striped.tabs-top.tabs-background-positive.tabs-color-light.tabs-my .tab-item.tab-item-active, 
.tabs-striped.tabs-top.tabs-background-positive.tabs-color-light.tabs-my .tab-item.active, 
.tabs-striped.tabs-top.tabs-background-positive.tabs-color-light.tabs-my .tab-item.activated {
      margin-top:0px;
      border-width: 0px 0px 0px 0px !important;
	  border-radius: 0 40px 40px 0;
      border-style: solid; background:#ffffff; color:#ef3e35;
}
.my-list .item{padding:5px 5px;}
.my-list .item:nth-child(even) {background: #e5e5e5}
.my-list .item:nth-child(odd) {background: #FFF}
.my-list .item span{font-size:12px; color:#666666;display:block;}
.my-list .item small{color: #000;display: block;font-size: 12px;font-weight: 500;overflow: hidden;text-overflow: ellipsis;    white-space: nowrap;}
.my-list .item span i {margin-left: 2px;}
.start {border: 1px solid #ef3e35;border-radius: 50%;color: #ef3e35;font-size: 9px;font-weight: 500;height: 40px;  line-height: 40px;text-align: center;width: 40px;
}
.size-40 {font-size: 40px;text-align: center;line-height:20px;}
.survey-exp{border: 1px solid #d2d2d2;border-radius: 3px;color: #8c7574;font-size: 9px;font-weight: 500;line-height:10px;height: 40px;;padding: 10px 0;text-align: center;width: 40px;word-wrap: break-word;}
.Serach-filter {background: #e5e5e5;/* float: left; */padding: 15px;width: 100%;display: inline-block;}
.icon-search {float: left;font-size: 20px;text-align: center;width: 26px;}
.icon-close{float: right;font-size: 20px;text-align: center;width: 26px;}
.icon-text{float: left;width:84%;line-height: 36px;}
.search-select{display:block;}
.search-select select{width:100%; border:solid 1px #ccc; border-radius:5px; padding:5px; margin:5px 0;}
ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[delegate-handle=calendarScroll] {
  height: 90px;
}
ion-scroll[direction=y] {
  height: calc(100vh - 33px - 33px - 90px - 15px);
}
/*=-=-=-=-=-=-=-Dashboard section css =-=-=-=-=-=-=-*/

/*=-=-=-=-=-=-=-Guidelinetabs section css =-=-=-=-=-=-=-*/
.guidelinetabs{}
.tabs-striped.tabs-color-calm.guidelinetabs a.tab-item .icon {
    display: block;
	margin:0px;
	padding:0px;
}
.tabs-top.guidelinetabs.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title, 
.tabs-top.guidelinetabs.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active i, 
.tabs-top.guidelinetabs.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.active .tab-title, 
.tabs-top.guidelinetabs.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.active i, 
.tabs-top.guidelinetabs.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.activated .tab-title, 
.tabs-top.guidelinetabs.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.activated i{
margin:0px;	
}
.tabs-striped.tabs-color-calm.guidelinetabs a.tab-item span {
    display: block;
    line-height: 40px;font-size: 13px;
}
.tabs-striped.tabs-color-calm.guidelinetabs a.tab-item {
    color: #bf322a;position:relative;
}

.tabs-striped.tabs-background-stable.guidelinetabs .tabs {color:#bf322a;top:0px; position:relative;background-color:transparent;border:none; height: 70px;}
.tabs-striped.tabs-color-calm.guidelinetabs a.tab-item{color:#bf322a;}
.guidelinetabs a.tab-item:before {
    background: #bf322a none repeat scroll 0 0;
    /* border-radius: 5px; */
    content: "555555";
    height:5px;
    left: 0;
    margin: 0;
    position: absolute;
    text-indent: -999999px;
    top: 25px;
    width: 100%;
    z-index: -1;
}
.tabs-striped.tabs-color-calm.guidelinetabs a.tab-item:first-child::before {
    left: auto;
}
.tabs-striped.tabs-color-calm.guidelinetabs a.tab-item:last-child:before {
    left: auto;
    right: 70px;
	display:none;
}
.guidelinetabs a.tab-item:last-child:after {
    background: #bf322a none repeat scroll 0 0;
    /* border-radius: 5px; */
    content: "555555";
    height:5px;
    right: 45%;
    margin: 0;
    position: absolute;
    text-indent: -999999px;
    top: 25px;
    width: 100%;
    z-index: -1;
}
.tabs-striped.tabs-background-stable.guidelinetabs .tabs .tab-item.tab-item-active, 
.tabs-striped.tabs-background-stable.guidelinetabs .tabs .tab-item.active, 
.tabs-striped.tabs-background-stable.guidelinetabs .tabs .tab-item.activated {
      margin-top:0px;
      border-width: 0px 0px 0px 0px !important;
      color:#fff;
}
.content-section .ionic-scroll {
    top: 168px;
}
.guideline .ionic-scroll {
    top: 132px;
}
.heading-title .dealer{font-size:12px; display:block; font-weight:300;}
.heading-title .dealer-name{font-size:13px; display:block; font-weight:500;position:relative;}
.heading-title .dealer-name img{float:right;position:absolute; right:0px;}
.heading-title .dealer-name span{color:#ef3e35;}
.items-content .row{padding:0px; margin:0px;}
.items-content1 .row{padding:0px; margin:0px;}
.items-content .row .col{padding:0px;}
.items-content .col span{font-size:13px; color:#666666;display:block;}
.items-content .col small{color: #000;display: block;font-size: 15px;font-weight: 500;overflow: hidden;text-overflow: ellipsis;    white-space: nowrap;}
.items-content .col .date-h{font-size:13px; color:#666666;display:block;}
.items-content .col .date-f{color: #000;display: block;font-size: 15px;font-weight: 500;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border-bottom: 1px solid #000;}
.date-f .icon {
    font-size: 18px;
    margin: 0 0 0 10px;
    position: absolute;
    right: 10px;
}
.items-content1 .row .col.padding-right{padding:0 10px 0 0;}
.items-content1 .row .col.padding-left{padding:0 0 0 10px;}
.items-content1 .row .col.padding-right .date-f {
    border-bottom: 1px solid #000;position:relative;color:#000000;
}
.items-content1 .row .col.padding-left .date-f {
    border-bottom: 1px solid #000;position:relative;color:#000000;
}
.items-content .col .date-f .ng-binding{float:right}
.guideline .bar.bar-positive.bar-footer.bar.bar-positive {
    background-color: #b2b2b2;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    border-color: #b2b2b2;
    color: #fff;
}
.guideline-content{background-color: #f5f5f5; padding:15px;border-radius:10px;}
.guideline-content ul li {
    font-size: 12px;
    padding: 5px 0  5px 12px;
    white-space: normal;
    word-wrap: break-word;
	position:relative;
}
.guideline-content ul li::before {
    content: "\f3d3";
    /* float: left; */
	color:#ef3e35;
	font-size: 11px;
    font-family: Ionicons;
	    left: 5px;
    position: absolute;
}
.guideline-content ul li span:before {
    content: "\f3d3";
/*     float: left; */
	color:#ef3e35;
	font-size: 11px;
    font-family: Ionicons;
	    left: 1px;
    position: absolute;
}
/*=-=-=-=-=-=-=-Guidelinetabs section css =-=-=-=-=-=-=-*/

/*=-=-=-=-=-=-=-=-=-=- Accordion =-=-=-=-=-=-=-=-=-=-=- */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.guideline .panel-group{padding:10px;margin-bottom: 10px;}
.guideline .panel{margin:0px; box-shadow:none; border:solid 1px #e5e5e5;}
.guideline .panel > .panel-heading {
position: relative;
padding: 0px;
}
.guideline .panel-body {
    padding: 10px;
}
.guideline .panel > .panel-heading h4.panel-title a{
	padding:10px;display:block;
	background-color: #ef3e35;
    border-color: #dddddd;
    color: #fff;
}
.guideline .panel > .panel-heading h4.panel-title a.collapsed{
	background-color: #e5e5e5;
    border-color: #dddddd;
    color: #000;	
}
.item.item-divider span{color:#ef3e35;}
.guideline .panel-title > a.collapsed:after {
content: '+';
position: absolute;
right: 14px;
}

.guideline .panel-title > a:after {
 content: '-';
position: absolute;
right: 14px;
}
.guideline .panel-title > a:hover, .accordion-heading a:hover{text-decoration:none;}
.accordion-heading a:hover{color:#000;}
.accordion-group{margin:0 0 2px 0;}

.my-list .row{margin:0px;}

.my-list-items span{font-size:12px; color:#666666;display:block;}
.my-list-items small, .my-list-items strong{color: #000;display: block;font-size: 12px;font-weight: 500;overflow: hidden;text-overflow: ellipsis;    white-space: nowrap;}
.accordion-heading a{
	padding:10px;display:block;
	background-color: #e5e5e5;
    border-color: #dddddd;
    color: #000;
}
.sales-accordion .accordion-heading > a.accordion-toggle.collapsed:after {
content: '+';
position: absolute;
right: 28px;
}

.sales-accordion .accordion-heading > a.accordion-toggle:after {
 content: '-';
position: absolute;
right: 28px;
}
.sales-accordion .panel-body{padding:0px;}
.sales-accordion .row{margin:0px;}
.sales-accordion{margin-bottom:5px;}
.service-accordion .accordion-heading > a.accordion-toggle.collapsed:after {
content: '+';
position: absolute;
right: 28px;
}

.service-accordion .accordion-heading > a.accordion-toggle:after {
 content: '-';
position: absolute;
right: 28px;
}
.service-accordion .panel-body{padding:0px;}
.service-accordion .row{margin:0px;}
.border-bottom{border-bottom:solid 1px #ccc;}
.accordion-heading.total-count a{
	padding:10px;display:block;
	background-color: #000;
    border-color: #dddddd;
    color: #fff;
}
.pd-left{padding-left:0px;}
.pd-middle{padding:5px 0px;}
.pd-right{padding-right:0px;}
.items-content2 .row{padding:0px; margin:0px;}
.items-content2 .col .date-h{font-size:13px; color:#666666;display:block;}
.items-content2 .col .date-f{color: #000;display: block;font-size: 14px;font-weight: 500;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border-bottom: 1px solid #bfbfbf;position: relative;}
.border-none{border:none;}
.items-content2 .col .date-f .icon {font-size: 18px;line-height: 20px;margin: 3px 0 0 10px;position: absolute;right: 0px;}
/*=-=-=-=-=-=-=-=-=-=- Accordion =-=-=-=-=-=-=-=-=-=-=- */

/*=-=-=-=-=-=-=-=-=-=- survey =-=-=-=-=-=-=-=-=-=-=- */
.icon-search2 {float: left;font-size: 20px;text-align: center;width: 40px;}
.icon-text1{float: left;width:70%;line-height: 36px; padding:0 10px;}
.icon-circle{float: left;width:50px;line-height: 36px;}
.search-select1{display:block;}
.search-select1 select{width:100%; border:solid 1px #ccc; border-radius:5px; padding:5px; margin:5px 0;}
.icon-search2 .icon{font-size:26px;}
.icon-text1 select{border-radius: 30px;margin: 0;padding: 10px;}

.survey-content{padding:10px; display:block;}
.survey-content p{padding:0px; line-height:20px; color:#000000; display:block;}
.survey-content .row{margin:0px;}

/* Styles go here */
.toggle-bt .toggle-text > .track {
 height: 25px;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.toggle-bt .toggle-text .handle {
  left:0px;top: -2px;
}
.toggle-bt .toggle-text .handle-text {
    color: white;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 4px;
}
.toggle-bt .item-toggle .toggle{top:5px;margin: 0; padding:0px; right:26px;}
.toggle-bt .toggle-text .handle-text-false {
  left: 36px;
}
.toggle-bt .toggle input:checked + .track {
    background-color: #ef3e35;
    border-color: #ef3e35;
}
.toggle-bt .toggle-text input:checked + .track .handle {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  left: calc(100% - 26px);
  
/*  -webkit-transform: translate3d(0, 0,0);*/
}
.track-text {
  line-height: 26px;
  color: white;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}
.toggle-bt .item{border:none; padding:0px;overflow: visible;display: block;margin: 0;}
.toggle .track{background-color: #ccc;border: 2px solid #ccc;}
.text-items {background: #e5e5e5 none repeat scroll 0 0;border-radius: 0 0 10px 10px;display: inline-block;padding: 0 0 10px;
    width: 100%;
}
.text-items {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 0 0 10px 10px;
    display:block;
    padding: 0 0 0px;
    width: 100%;
	margin:0 0 10px 0;
	line-height: 30px;
}
.text-items label{
	font-size:14px;font-weight:normal; background:#ffffff; line-height:30px; display:block; margin:0px;
}
.text-items ul{margin:0px; padding:0px; display:block;}
.text-items ul li {
    font-size: 12px;
    padding: 5px 24px 5px 24px;
	margin:0px;
    white-space: normal;
    word-wrap: break-word;
	position:relative;
}
.text-items ul li::before {
    content: "\f3d3";
    /* float: left; */
	color:#000000;
	font-size: 11px;
    font-family: Ionicons;
	    left: 15px;
    position: absolute;
}
.text-items ul li span:before {
    content: "\f3d3";
/*     float: left; */
	color:#000000;
	font-size: 11px;
    font-family: Ionicons;
	    left: 12px;
    position: absolute;
}
.text-items ul li span a{
	font-size:14px;font-weight:normal;color:#ef3e35;line-height:30px; display:block; margin:0px;
}
.text-items ul li span a:hover{color:#000000; text-decoration:none;}
.text-items textarea{border: 2px solid #aaaaaa;border-radius: 5px;font-size: 14px;font-weight: 300;height: 70px;line-height: 16px;padding: 5px 10px;resize: none;width: 100%;
}
.text-items textarea:disabled{border:solid 2px #aaaaaa; background:#cacaca;}
.com-circle .c100:after{background-color: #0f9f00;}
.com-circle  .c100 .bar1{border: 14px solid #0f9f00;}
.com-circle  .c100{background-color: #0f9f00;}
.com-circle  .c100 > span{color:#ffffff;}
.button.full-width-btn {border-radius: 0;width: 100%; background:#ef3e35;}
.guideline .bar-positive.remark-footer.bar.bar-footer {
     background-color: #ef3e35 !important;
}
.content-section1 .ionic-scroll {
    top: 108px;
}
.start .icon {
    font-size: 22px;
}
/*=-=-=-=-=-=-=-=-=-=- survey =-=-=-=-=-=-=-=-=-=-=- */

  /* this css created by pradeep singh rawat*/