<!--<div class="bar bar-header header-top">-->
  <!--<button class="button button-icon icon ion-navicon"></button>-->
  <!--<div class="h1 title">Dashboard</div>-->
  <!--<button class="button button-icon icon ion-android-notifications-none"></button>-->
<!--</div>-->

<ion-view view-title="Dashboard">

<div class="dashboard-search">
  <div class="item-input-search">
    <button class="button button-icon icon ion-android-bar" ng-click="searchFilter()"></button>
    <div class="search-bar"><input ng-model="keyword" placeholder="Search..." ng-keyup="search(keyword)"
                                   type="text"></div>
    <button class="button button-icon icon ion-ios-search-strong" ng-click="search(keyword)"></button>
  </div>
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light tabs-my">
    <!-- <div class="tabs">
      <a class="tab-item active" href="#">
        Current Surveys
      </a>
      <a class="tab-item" href="#">
        Pending Surveys
      </a>
    </div> -->
	<div class="tabs">
		<div style="width:30%; text-align: center; color: #fff; font-weight: normal;">Completed: <span style="font-size: 14px; font-style: italic;">{{completed}}</span></div>
		<div style="width:30%; text-align: center; color: #fff; font-weight: normal;">Pending: <span style="font-size: 14px; font-style: italic;">{{pending}}</span></div>

	</div>
  </div>
</div>
<div class="content-section">
  <ion-content>

    <div class="my-list">
      <div class="Serach-filter" ng-show="showHide">
        <div class="search-it">
          <div class="icon-search"><i class="icon ion-android-bar"></i></div>
          <div class="icon-text">Filter</div>
          <div class="icon-close"><a ng-click="searchFilter()" style="color:#000; cursor: pointer;"><i class="icon ion-android-close"></i></a></div>
        </div>
        <div class="search-select">
          <select ng-model="selectedYear" ng-change="filterByYear(selectedYear)">
            <!-- <option value="-1" selected>Select Year</option> -->
			<option value="{{key}}" ng-selected="{{key == currentYear}}" ng-repeat="(key, value) in getLastThreeYear">{{value}}</option>
          </select>
        </div>
        <div class="search-select">
          <select ng-model="selectedMonth" ng-change="filterByMonth(selectedMonth)">
            <!-- <option value="-1" selected>Select Month</option> -->
			<option value="{{key}}" ng-selected="{{key == currentMonth}}" ng-repeat="(key, value) in getLastThreeMonth">{{value}}</option>
          </select>
        </div>
        <div class="search-select">
          <select ng-init="selectedDealer='-1'" ng-model="selectedDealer" ng-change="filterByDealer(selectedDealer)">
			<option value="-1"  ng-selected="true">Select Dealer</option>
            <option value="{{data.dealerCode}}"  ng-repeat="data in dealersDataList">{{data.dealerName}}</option>
          </select>
        </div>
      </div>
	  <div style="text-align:center;font-size:16px;padding-top:0;">{{errorMsg}}</div>
      <ul class="list">
        <li class="item" ng-repeat="data in dealersData">
          <div class="row">
            <div class="col col-40"><span>{{data.dealerCode}}</span>
              <small>{{data.dealerName}}</small>
            </div>
            <div class="col col-20"><span>{{data.empZone}}</span>
              <small>{{data.dealerLocation}}</small>
            </div>
            <div class="col col-20"><span>{{monthText}}
			<!-- <i class="icon ion-android-arrow-dropdown"></i> --></span>
              <small>{{year}}</small>
            </div>

            <div class="col col-20">

              <!--<div ng-if="data.surveyStatus=='Start'|| data.surveyStatus=='Draft'?true:false" class="start" style="cursor: pointer;" title = "{{data.surveyStatus}}" ng-click="start(data.dealerCode,data.dealerName,data.dealerMappedStaffDepartment,data.month,data.year,data.surveyId,data.empCode,data.referenceId)">{{data.surveyStatus}}</div>

			        <div ng-if="data.surveyStatus!='Start' && data.surveyStatus!='Draft'?true:false" class="" style="font-size: 9px;color: #ef3e35;border: 0; line-height:15px; white-space: normal;" title = "{{data.surveyStatus}}">{{data.surveyStatus}}</div>-->
             
              <div ng-if="data.surveyStatus=='Start'|| data.surveyStatus=='Draft'?true:false">
                <div ng-show="tsmStatus" class="start" style="cursor: pointer;" title = "{{data.surveyStatus}}" ng-click="start(data.surveyStatus,data.dealerCode,data.dealerName,data.dealerMappedStaffDepartment,data.month,data.year,data.surveyId,data.empCode,data.referenceId)">{{data.surveyStatus}}</div>
              </div>
              <div ng-if="data.surveyStatus!='Start' && data.surveyStatus!='Draft' && data.surveyStatus!='Survey Expired'?true:false">
                <div ng-show="tsmStatus" class="" style="text-decoration: underline; font-size: 9px;color: #ef3e35;border: 0; line-height:15px; white-space: normal;cursor: pointer;" title = "{{data.surveyStatus}}" ng-click="start(data.surveyStatus,data.dealerCode,data.dealerName,data.dealerMappedStaffDepartment,data.month,data.year,data.surveyId,data.empCode,data.referenceId)">{{data.surveyStatus}}</div>
              </div>
              <div ng-if="data.surveyStatus=='Survey Expired'?true:false">
                <div ng-show="tsmStatus" class="" style="font-size: 9px;color: #666666;border: 0; line-height:15px; white-space: normal;" title = "{{data.surveyStatus}}">{{data.surveyStatus}}</div>
              </div>

              <div ng-if="data.surveyStatusASM=='Survey Expired'|| data.surveyStatusASM=='Survey Not Created'?true:false">
                <div ng-show="asmStatus" class="" style="font-size: 9px;color: #666666;border: 0; line-height:15px; white-space: normal;" title = "{{data.surveyStatusASM}}">{{data.surveyStatusASM}}</div>
              </div>
              <div ng-if="data.surveyStatusASM!='Survey Expired' && data.surveyStatusASM!='Survey Not Created'?true:false">
                <div ng-show="asmStatus" class="" style="text-decoration: underline;font-size: 9px;color: #ef3e35;border: 0; line-height:15px; white-space: normal;cursor: pointer;" title = "{{data.surveyStatusASM}}" ng-click="start(data.surveyStatus,data.dealerCode,data.dealerName,data.dealerMappedStaffDepartment,data.month,data.year,data.surveyId,data.empCode,data.referenceId)">{{data.surveyStatusASM}}</div>
              </div>

              <div ng-if="data.surveyStatusZO=='Survey Expired' || data.surveyStatusZO=='Survey Not Created' ?true:false">
                <div ng-show="zoStatus" class="" style="font-size: 9px;color: #666666;border: 0; line-height:15px; white-space: normal;" title = "{{data.surveyStatusZO}}">{{data.surveyStatusZO}}</div>
              </div>
              <div ng-if="data.surveyStatusZO=='Survey Expired' && data.surveyStatusZO=='Survey Not Created'?true:false">
                <div ng-show="zoStatus" class="" style="text-decoration: underline;font-size: 9px;color: #ef3e35;border: 0; line-height:15px; white-space: normal;cursor: pointer;" title = "{{data.surveyStatusZO}}" ng-click="start(data.surveyStatus,data.dealerCode,data.dealerName,data.dealerMappedStaffDepartment,data.month,data.year,data.surveyId,data.empCode,data.referenceId)">{{data.surveyStatusZO}}</div>
              </div>


             <!-- <div ng-if="data.surveyStatus!='Start' && data.surveyStatus!='Draft'?true:false" class="" style="font-size: 9px;color: #ef3e35;border: 0; line-height:15px; white-space: normal;" title = "{{data.surveyStatus}}">{{data.surveyStatus}}</div>-->

            </div>
           <!-- <div class="col">
              <div class="size-40" ng-hide="true"><i class="icon ion-android-more-vertical"></i></div>
            </div> -->
          </div>
        </li>
      </ul>

    </div>
  </ion-content>
</div>
  </ion-view>
