<ion-view cache-view="false" view-title="TM Mapping Settings">
<div class="content-section1" >
  <ion-content style="top:43px;">
    <div class="my-list">
      <div class="mapping" style="background:#ef473a;">
        <div class="items">
          <div class="col col-25"><strong>Dealer Code</strong></div>
          <div class="col col-25"><strong>Dealer Name</strong></div>
          <div class="col col-50"><strong>Associated TM</strong></div>
        </div>
      </div>
	  <div style="text-align:center;font-size:16px;padding-top:0;">{{errorMsg}}</div>
      <ul class="list" >
        <li class="item" ng-repeat="data in mappingData | orderBy : 'dealer_Name'">
          <div class="row">
            <div class="col col-25"><span>{{data.dealer_code}}</span></div>
            <div class="col col-25"><span>{{data.dealer_Name}}</span></div>
            <div class="col col-50">
              <div class="select-style">
                <!-- <select ng-model="selectedOpt" ng-change="selectTSM(selectedOpt)">
                  <option value="{{opt.emp_code}}" ng-selected="{{opt.emp_code == data.dealer_mapped_to_staff_person_code}}" ng-repeat="opt in associatedTSM">{{opt.emp_name}}({{opt.emp_code}})</option>
				</select> -->
				
				<select ng-model="data.dealer_mapped_to_staff_person_code" ng-change="selectTSM(data.dealer_mapped_to_staff_person_code,data.dealer_mapped_to_staff_person_department_code,data.dealer_code)" ng-options="opt.emp_code as opt.emp_name for opt in associatedTSM">
                    <option value="">Select TSM</option>
				</select>
              </div>
          </div>
        </li>
      </ul>
<!-- <div class="row">
 <div style="background:#ef473a;" class="save-dealer-btn"><button class="button button-block button-positive">Save Dealer Mappings</button></div>
</div> -->
	  
    </div>
  </ion-content>
 <ion-footer-bar class="remark-footer">
	<button class="button full-width-btn" style="color:#ffffff;" ng-disabled="!btnFlag" ng-click="saveDealerMapping()">Save Dealer Mappings</button>
</ion-footer-bar>
</div>
</ion-view>
