<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button ng-show="$root.back">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
		<button class="dashboard-menu" ng-hide="$root.showMenuIcon" ng-click="goToDashboard()">
			Dashboard
        </button>
      </ion-nav-buttons>
	  
    </ion-nav-bar>
	
    <ion-nav-view name="menuContent"></ion-nav-view>
	
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{$root.LoginUser}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="custum-navigation-style">
        <ion-item  menu-close href="#/app/dashboard">
          Dashboard
        </ion-item>
        <ion-item ng-show="$root.mappingMenu"  menu-close href="#/app/mapping">
          TM Mapping
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          My Profile
        </ion-item>
        <ion-item menu-close href="#/app/reports">
          Reports
        </ion-item>
        <ion-item menu-close ng-click="$root.logout()" href="">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
