<!-- <div class="bar bar-header header-top">
  <button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title">Amandeep Singh Profile</div>
  <button class="button button-icon icon ion-android-notifications-none"></button>
</div> -->
<!-- <div class="dashboard-search">
  <div class="item-input-search">
    <button class="button button-icon icon ion-android-bar"></button>
    <div class="search-bar">
      <input placeholder="Search..." ng-keyup="searchList($event)" type="text">
    </div>
    <button class="button button-icon icon ion-ios-search-strong"></button>
  </div>
</div> -->
<ion-view cache-view="false" view-title="My Profile">
<div class="content-section1">
<ion-content>
 <div class="form-profile">
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Employee Name</span>
	
    <input type="text" placeholder="Employee Name" ng-model="empName" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Employee Code</span>
    <input type="text" placeholder="Employee Code" ng-model="empCode" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Employee Email Id</span>
    <input type="text" placeholder="Employee Email Id" ng-model="empEmail" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Department</span>
    <input type="text" placeholder="Department" ng-model="department" disabled>
  </label>
  <label class="item item-input item-stacked-label">
  
    <span class="input-label">Status</span>
      <select disabled>
      <option ng-selected="active">Active</option>
      <option ng-selected="inactive">Inactive</option>
    </select>
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Contact No</span>
    <input type="text" placeholder="Contact No" ng-model="contact" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Area Office</span>
    <input type="text" placeholder="Area Office" ng-model="areaOffice" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Zone</span>
    <input type="text" placeholder="Zone" ng-model="zone" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Report to</span>
    <input type="text" placeholder="Report to" ng-model="reportToCode" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Reporting to(Name)</span>
    <input type="text" placeholder="Reporting Name" ng-model="reportTo" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Reporting Manager Email Id</span>
    <input type="text" placeholder="Reporting Manager Email Id" ng-model="reportToEmail" disabled>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Associated Dealers</span>
	<!-- <textarea name="comment" id="comment-textarea" ng-model="incident.comment"  placeholder="Associated Dealers" disabled>
	</textarea> -->
	<div style="overflow-y: scroll;overflow-x: hidden;resize: both;height: 130px;border: 1px solid rgba(204, 204, 204, 0.71);padding: 10px;">
	
		<div ng-repeat="d in dealers">
			<div style="font-weight: bold; padding: 5px 0;font-size: 14px;">{{d.dealer_code}}</div>
			<div style="padding-left:15px;padding-bottom:7px;font-size: 13px;">{{d.dealer_Name}}</div>
		</div>
	</div>
  </label>
</div>
</div>
</ion-content>
</div>
</ion-view>