<ion-view cache-view="false" view-title="Remark">
<div class="dashboard-search">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
		<div class="tabs tabs-icon-left">
			  <a class="tab-item" href="#/app/guideLine">
				<i class="icon icon ion-record"></i>
				<span>Guidelines</span>
			  </a>
			  <a class="tab-item" href="#/app/salesData">
				<i class="icon icon ion-record"></i>
				<span>Sales Data</span>
			  </a>
			  <a class="tab-item" href="#/app/salesNorms">
				<i class="icon icon ion-record"></i>
				<span>Sales Norms</span>
			  </a>
			  <a class="tab-item" href="#/app/survey">
				<i class="icon icon ion-record"></i>
				<span>Criteria</span>
			  </a>
			  <a class="tab-item active" href="#/app/remark">
				<i class="icon icon ion-record"></i>
				<span>Remark</span>
			  </a>
		</div>
    </div>
</div>
<div class="guideline">
    <ion-content>
        <div class="item item-divider">Dealer Code: <span>{{dealerCode}}</span></div>
		<div style="text-align: center; color: #fff; background: rgb(23, 51, 197); font-size: 14px; margin-bottom: 1px;">{{normsError}}</div>
		<div style="text-align: center; color: #fff; background: rgb(23, 51, 197); font-size: 14px;">{{criteriaError}}</div>
		<div class="item border-none">
		
			<div class="text-items" ng-repeat="r in remark">
			  <label>Action Plan/{{r.title}}</label>
			  <textarea ng-change="updateRemark(r.description,r.title)" ng-model="r.description" ng-disabled="(r.disabled=='true' || survey_status=='true')?true:false">{{r.description}}</textarea>
			</div>
		</div>
    </ion-content>
    <ion-footer-bar class="remark-footer">
		<button class="button full-width-btn" style="color:#ffffff;" ng-click="submitSurvey()" ng-disabled="{{btnStatus}}">{{btnTxt}}</button>
    </ion-footer-bar>
</div>
</ion-view>
