<!-- <div class="bar bar-header header-top">
    <button class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div>-->
<ion-view cache-view="false" view-title="Sales Norms">
  <div class="dashboard-search">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
      <div class="tabs tabs-icon-left">
        <a class="tab-item" href="#/app/guideLine">
          <i class="icon icon ion-record"></i>
          <span>Guidelines</span>
        </a>
        <a class="tab-item" href="#/app/salesData">
          <i class="icon icon ion-record"></i>
          <span>Sales Data</span>
        </a>
        <a class="tab-item active" href="#/app/salesNorms">
          <i class="icon icon ion-record"></i>
          <span>Sales Norms</span>
        </a>
        <a class="tab-item" href="#/app/survey">
          <i class="icon icon ion-record"></i>
          <span>Criteria</span>
        </a>
        <a class="tab-item" href="#/app/remark">
          <i class="icon icon ion-record"></i>
          <span>Remark</span>
        </a>
      </div>
    </div>
  </div>
  <div class="guideline">
    <ion-content>
	<form name="myForm" novalidate id="normsForm">
      <div class="item item-divider">Dealer Code: <span>{{dealerCode}}</span></div>
     <!--  <div class="Serach-filter"> -->
        <!-- <div class="search-it"> -->
          <!-- <div class="icon-search2"><i class="icon ion-android-bar"></i></div> -->
          <!--<div class="icon-text1">
              <div class="search-select1">

             <select id="norms" ng-init="selectedOption = normsPlan[0]" id="target" ng-model="selectedOption" ng-change="getNormsData(selectedOption)" ng-options="data.alias as data.designation for data in normsPlan track by data.alias">
                <option value="">-- please choose norms --</option>
              </select> 
			  

            </div>
          </div>-->
       <!--  </div> -->
      <!-- </div> -->
	  
	  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="currentIndex" show-pager="false">
          <ion-slide>
			<ul>
				<li ng-repeat="n in normsPlan" class="" style="border-bottom:1px solid #ddd;padding: .5% 1%;">
				
					<div style="width:50%;float:left;position:relative;top:5px;" ng-click="getNormsData(n.alias,$index)">
						 {{n.designation}}
					</div>
					
					<div style="width:50%;float:left;">
						<!-- <ion-checkbox ng-model="checked[$index]" ng-disabled='true'></ion-checkbox> -->
						<ion-checkbox ng-checked="n.require_value!='' && n.actual_value!='' && isNumeric(n.actual_value)" ng-model="checked[$index]" ng-disabled='true'></ion-checkbox>
					</div>
					<div style="clear: both;">
					</div>
				</li>
			</ul>
          </ion-slide>
          <ion-slide>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default" >
				  <div class="panel-heading" id="headingOne">
					<h4 class="panel-title">
					  <a aria-expanded="true" aria-expanded="false" aria-controls="collapseTwo">
						{{designation}}
					  </a>
					</h4>
				  </div>
				  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					  <div class="items-content2">
						<div class="row">
						  <div class="col col-33 pd-left">
							<div class="date-h">Required (Nos)</div>
							<div ng-if="formData.requireValueType==='not-editable'" class="date-f border-none">
							  {{formData.requiredValue}}
							</div>
							<div class="date-f" ng-if="formData.requireValueType==='editable'">
							  <input style="width:100%" type="text" ng-change="updateRequiredValue(formData.requiredValue)" ng-model="formData.requiredValue" ng-disabled="{{survey_status}}">
							</div>
							<div ng-show="requiredNos" style="color:#f00;font-size:12px;">It must be a positive integer value. E.g.: 2 , 8 , 12</div>
						  </div>
						  <div class="col col-33">
							<div class="date-h">Available (Nos)</div>
							<div class="date-f">
							  <input style="width:100%" type="text" ng-change="updateAvailableValue(formData.availableValue)" ng-model="formData.availableValue" ng-disabled="{{survey_status}}">
							</div>
							<div ng-show="availableNos" style="color:#f00;font-size:12px;">It must be a positive integer value. E.g.: 2 , 8 , 12</div>
						  </div>
						  <div class="col col-33 pd-right" only-valid="{'after': 'today', 'inclusive': true}"  ion-datetime-picker date ng-model="dateValue" ng-change="updateTargetDate(dateValue)">
							<div class="date-h">Target Date</div>
							<div  class="date-f" style="color:#666666;">{{dateValue| date: "dd-MM-yyyy"}}<i class="icon ion-android-calendar" ></i>
							<input type="hidden" value="{{dateValue| date: 'dd-MM-yyyy'}}" ng-model="formData.target_date" ng-change="updateTargetDate(formData.target_date)" name="target_date">
							</div>
						  </div>
						</div>

						<div class="row">
						  <div class="col pd-middle">
							<div class="date-h">Action Plan(TSM)</div>
							<div class="date-f">
							  <textarea ng-model="formData.action_plan" ng-change="updatePlanTSM(formData.action_plan)" ng-disabled="(formData.action_plan_status === 'true' || survey_status=='true')?true:false" style="width:100%"></textarea>
							  <!--  <ion-item>
								   <ion-label floating>Description</ion-label>
								   <ion-textarea></ion-textarea>
							   </ion-item> -->
							</div>
						  </div>
						</div>
						<div class="row">
						  <div class="col pd-middle">
							<div class="date-h">Action Plan(ASM)</div>
							<div class="date-f">
							  <textarea  ng-model="formData.action_plan_asm" ng-change="updatePlanASM(formData.action_plan_asm)" ng-disabled="(formData.action_plan_asm_status === 'true' || survey_status=='true')?true:false" style="width:100%"></textarea>
							  <!-- <ion-item>
								  <ion-label floating>Description</ion-label>
								  <ion-textarea></ion-textarea>
							  </ion-item> -->
							</div>
						  </div>
						</div>
						<div class="row">
						  <div class="col pd-middle">
							<div class="date-h">Action Plan(ZM)</div>
							<div class="date-f">
							  <textarea ng-model="formData.action_plan_zm" ng-change="updatePlanZM(formData.action_plan_zm)" ng-disabled="(formData.action_plan_zm_status === 'true' || survey_status=='true')?true:false" style="width:100%"></textarea>
							  <!-- <ion-item>
								  <ion-label floating>Description</ion-label>
								  <ion-textarea></ion-textarea>
							  </ion-item> -->
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
          </ion-slide>
        </ion-slide-box>
	  
	  
      <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="norms in normsPlan" ng-if="norms.alias==hideContainer">  -->
      <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-show="hideContent">
          <div class="panel-heading" id="headingOne">
            <h4 class="panel-title">
              <a aria-expanded="true" aria-expanded="false" aria-controls="collapseTwo">
                {{designation}}
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="items-content2">
                <div class="row">
                  <div class="col col-33 pd-left">
                    <div class="date-h">Required (Nos)</div>
                    <div ng-if="formData.requireValueType==='not-editable'" class="date-f border-none">
                      {{formData.requiredValue}}
                    </div>
                    <div class="date-f" ng-if="formData.requireValueType==='editable'">
                      <input style="width:100%" type="text" ng-change="updateRequiredValue(formData.requiredValue)" ng-model="formData.requiredValue" ng-disabled="{{survey_status}}">
                    </div>
					<div ng-show="requiredNos" style="color:#f00;font-size:12px;">It must be a positive integer value. E.g.: 2 , 8 , 12</div>
                  </div>
                  <div class="col col-33">
                    <div class="date-h">Available (Nos)</div>
                    <div class="date-f">
                      <input style="width:100%" type="text" ng-change="updateAvailableValue(formData.availableValue)" ng-model="formData.availableValue" ng-disabled="{{survey_status}}">
                    </div>
					<div ng-show="availableNos" style="color:#f00;font-size:12px;">It must be a positive integer value. E.g.: 2 , 8 , 12</div>
                  </div>
                  <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue" ng-change="updateTargetDate(dateValue)">
                    <div class="date-h">Target Date</div>
                    <div  class="date-f" style="color:#666666;">{{dateValue| date: "dd-MM-yyyy"}}<i class="icon ion-android-calendar" ></i>
                    <input type="hidden" value="{{dateValue| date: 'dd-MM-yyyy'}}" ng-model="formData.target_date" ng-change="updateTargetDate(formData.target_date)" name="target_date">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col pd-middle">
                    <div class="date-h">Action Plan(TSM)</div>
                    <div class="date-f">
                      <textarea ng-model="formData.action_plan" ng-change="updatePlanTSM(formData.action_plan)" ng-disabled="(formData.action_plan_status === 'true' || survey_status=='true')?true:false" style="width:100%"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col pd-middle">
                    <div class="date-h">Action Plan(ASM)</div>
                    <div class="date-f">
                      <textarea  ng-model="formData.action_plan_asm" ng-change="updatePlanASM(formData.action_plan_asm)" ng-disabled="(formData.action_plan_asm_status === 'true' || survey_status=='true')?true:false" style="width:100%"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col pd-middle">
                    <div class="date-h">Action Plan(ZM)</div>
                    <div class="date-f">
                      <textarea ng-model="formData.action_plan_zm" ng-change="updatePlanZM(formData.action_plan_zm)" ng-disabled="(formData.action_plan_zm_status === 'true' || survey_status=='true')?true:false" style="width:100%"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
	  </form>
    </ion-content>
    <ion-footer-bar class="bar-positive">
		  <div class="pagers">
			<div ng-repeat="n in totalSlide" ng-class="{'pager-bg': slideIndex == $index}"></div>
		  </div>
      <a class="button button-icon" ng-href="#/app/salesData"><i class="ion-ios-arrow-left"></i> Previous</a>

      <a class="button button-icon" ng-href="#/app/survey">Next <i class="ion-ios-arrow-right"></i></a>
    </ion-footer-bar>
  </div>
</ion-view>
