<!-- <div class="bar bar-header header-top">
    <button class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div> -->
<ion-view view-title="Sales Norms">
<div class="dashboard-search">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
	<div class="tabs tabs-icon-left">
      <a class="tab-item" href="#/app/guideLine">
        <i class="icon icon ion-record"></i>
        <span>Guidelines</span>
      </a>
      <a class="tab-item" href="#/app/salesData">
        <i class="icon icon ion-record"></i>
        <span>Sales Data</span>
      </a>
      <a class="tab-item active" href="#/app/salesNorms">
        <i class="icon icon ion-record"></i>
        <span>Sales Norms</span>
      </a>
      <a class="tab-item" href="#/app/survey">
        <i class="icon icon ion-record"></i>
        <span>Survey</span>
      </a>
      <a class="tab-item" href="#/app/remark">
        <i class="icon icon ion-record"></i>
        <span>Remark</span>
      </a>
    </div>
    </div>
</div>
<div class="guideline">
    <ion-content>
        <div class="item item-divider">Dealer Code: <span>{{dealer}}</span></div>
		<div class="Serach-filter">
			<div class="search-it">
			<!-- <div class="icon-search2"><i class="icon ion-android-bar"></i></div> -->
			<div class="icon-text1">
			<div class="search-select1">
				
				<select id="target" ng-model="selectedOption" ng-change="getNormsData(selectedOption)" ng-options="data.alias as data.designation for data in normsPlan track by data.alias">
				<option value="">-- please choose norms --</option>
					<!-- <option selected="" value="Select Month">Select Survey Norms</option>
					<option value="{{data.alias}}" ng-repeat="data in norms" >{{data.designation}}</option> -->
				</select>
				
			</div>
			</div>
			</div>
		</div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-expanded="false" aria-controls="collapseTwo">
                            {{defaultNorms.designation}}
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="items-content2">
                            <div class="row">
                                <div class="col col-33 pd-left">
                                    <div class="date-h">Required (Nos)</div>
                                    <div class="date-f border-none">{{defaultNorms.required_value}}</div>
                                </div>
                                <div class="col col-33">
                                    <div class="date-h">Available (Nos)</div>
                                    <div class="date-f">{{defaultNorms.actual_value==""?0:defaultNorms.actual_value}}</div>
                                </div>
                                <div class="col col-33 pd-right" ion-datetime-picker date ng-model="dateValue">
                                    <div class="date-h">Target Date</div>
                                    <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(TSM)</div>
                                    <div class="date-f" ng-repeat="plans in normsPlan">{{plans.plan_title=="action_plan"?"Action Plan(TSM)":""}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ASM)</div>
                                    <div class="date-f" ng-repeat="plans in normsPlan">{{plans.plan_title=="action_plan_asm"?"Action Plan(ASM)":""}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pd-middle">
                                    <div class="date-h">Action Plan(ZM)</div>
                                    <div class="date-f" ng-repeat="plans in normsPlan">{{plans.plan_title=="action_plan_zm"?"Action Plan(ZM)":""}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <a class="button button-icon" ng-href="#/app/salesData"><i class="ion-ios-arrow-left"></i> Previous</a> 
		<a class="button button-icon" ng-href="#/app/survey">Next <i class="ion-ios-arrow-right"></i></a>
    </ion-footer-bar>
</div>
</ion-view>