<!-- <div class="bar bar-header header-top">
  <button class="button button-icon icon ion-chevron-left"></button>
  <div class="h1 title">Dashboard</div>
  <button class="button button-icon icon ion-android-notifications-none"></button>
</div> -->
<ion-view cache-view="false" view-title="Sales Data">
<div class="dashboard-search">
  <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
	<div class="tabs tabs-icon-left">
      <a class="tab-item" href="#/app/guideLine">
        <i class="icon icon ion-record"></i>
        <span>Guidelines</span>
      </a>
      <a class="tab-item active" href="#/app/salesData">
        <i class="icon icon ion-record"></i>
        <span>Sales Data</span>
      </a>
      <a class="tab-item" href="#/app/salesNorms">
        <i class="icon icon ion-record"></i>
        <span>Sales Norms</span>
      </a>
      <a class="tab-item" href="#/app/survey">
        <i class="icon icon ion-record"></i>
        <span>Criteria</span>
      </a>
      <a class="tab-item" href="#/app/remark">
        <i class="icon icon ion-record"></i>
        <span>Remark</span>
      </a>
    </div>
  </div>
</div>
<div class="guideline">
  <ion-content>
    <div class="item item-divider">Dealer Code: <span>{{dealerCode}}</span></div>
    <div class="sales-accordion">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"
                 aria-expanded="true" aria-expanded="false" aria-controls="collapseTwo">
                Sales
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
               aria-labelledby="headingOne">
            <div class="panel-body">
             
              <div class="accordion" >

                <div class="accordion-group" ng-repeat="data in salesData">
				
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#sales{{$index}}"
                       data-target="#sales{{$index}}">
                       {{data.rows[0].sales_data_sub_type}}
                    </a>
                  </div>
                  <div id="sales{{$index}}" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      <div class="row border-bottom">
                        <div class="col col-20">
                          <div class="my-list-items"><strong>Month</strong></div>
                        </div>
                        <!--<div class="col" ng-repeat="monthlyData in data.rows">
                          <div class="my-list-items" >
                            <span>{{titles[$index]}}</span>
                            <small>{{monthlyData.monthly | num}}</small>
                          </div>
                        </div>-->
						
						
						<div class="col">
                          <div class="my-list-items" >
                            <span>Tgt</span>
                            <small>{{data.rows[0].Tgt | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>Ach</span>
                            <small>{{data.rows[1].Ach | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>%Ach</span>
                            <small>{{data.rows[2].percentage_Ach | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>LY</span>
                            <small>{{data.rows[3].LY | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>%Gr</span>
                            <small>{{data.rows[4].percentage_Gr | num}}</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-20">
                          <div class="my-list-items"><strong>YTM</strong></div>
                        </div>
                        <!--<div class="col" ng-repeat="YTMData in data.rows">
                          <div class="my-list-items" >
                            <span>{{titles[$index]}}</span>
                            <small>{{YTMData.YTM | num}}</small>
                          </div>
                        </div>-->
						<div class="col">
                          <div class="my-list-items" >
                            <span>Tgt</span>
                            <small>{{data.rows[5].Tgt | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>Ach</span>
                            <small>{{data.rows[6].Ach | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>%Ach</span>
                            <small>{{data.rows[7].percentage_Ach | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>LY</span>
                            <small>{{data.rows[8].LY | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>%Gr</span>
                            <small>{{data.rows[9].percentage_Gr | num}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>

            </div>
          </div>
        </div>
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                 data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Service
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
               aria-labelledby="headingTwo">
            <div class="panel-body">


              <div class="accordion" >
                <div class="accordion-group" ng-repeat="data in servicesData">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#service{{$index}}"
                       data-target="#service{{$index}}">
                       {{data.rows[0].sales_data_sub_type}}
                    </a>
                  </div>
                  <div id="service{{$index}}" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      <div class="row border-bottom">
                        <div class="col col-20">
                          <div class="my-list-items"><strong>Month</strong></div>
                        </div>
                       <div class="col">
                          <div class="my-list-items" >
                            <span>Tgt</span>
                            <small>{{data.rows[0].Tgt | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>Ach</span>
                            <small>{{data.rows[1].Ach | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>%Ach</span>
                            <small>{{data.rows[2].percentage_Ach | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>LY</span>
                            <small>{{data.rows[3].LY | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>%Gr</span>
                            <small>{{data.rows[4].percentage_Gr | num}}</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-20">
                          <div class="my-list-items"><strong>YTM</strong></div>
                        </div>
                        <!--<div class="col" ng-repeat="YTMData in data.rows">
                          <div class="my-list-items" >
                            <span>{{titles[$index]}}</span>
                            <small>{{YTMData.YTM | num}}</small>
                          </div>
                        </div>-->
						<div class="col">
                          <div class="my-list-items" >
                            <span>Tgt</span>
                            <small>{{data.rows[5].Tgt | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>Ach</span>
                            <small>{{data.rows[6].Ach | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>%Ach</span>
                            <small>{{data.rows[7].percentage_Ach | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>LY</span>
                            <small>{{data.rows[8].LY | num}}</small>
                          </div>
                        </div>
						<div class="col">
                          <div class="my-list-items" >
                            <span>%Gr</span>
                            <small>{{data.rows[9].percentage_Gr | num}}</small>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <a class="button button-icon" ng-href="#/app/guideLine"><i class="ion-ios-arrow-left"></i> Previous</a> 
    <a class="button button-icon" ng-href="#/app/salesNorms">Next <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</div>
</div>
</ion-view>
