<div class="bar bar-header header-top">
    <button class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div>
<div class="dashboard-search">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
        <div class="tabs tabs-icon-left">
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Guidelines</span>
            </a>
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Sales Data</span>
            </a>
            <a class="tab-item active" ui-sref="search">
                <i class="icon icon ion-record"></i>
                <span>Sales Norms</span>
            </a>
            <a class="tab-item active" href="#">
                <i class="icon icon ion-record"></i>
                <span>Survey</span>
            </a>
            <a class="tab-item" href="">
                <i class="icon icon ion-record"></i>
                <span>Remark</span>
            </a>
        </div>
    </div>
</div>
<div class="guideline">
    <ion-content>
        <div class="item item-divider">Dealer Code: <span>10000</span></div>
<div class="Serach-filter">
<div class="search-it">
<div class="icon-search2"><i class="icon ion-android-bar"></i></div>
<div class="icon-text1">
<div class="search-select1">
    <select>
	<option selected="" value="Select Month">Select Survey</option>
      <option value="Blue">Front Fascia</option>
      <option value="Green">Front Fascia</option>
      <option value="Red">Front Fascia</option>
    </select>
</div>
</div>
<div class="icon-circle com-circle">
            <div class="c100 p12 small">
            <span>100%</span>
            <div class="slice">
            <div class="bar1"></div>
        <div class="fill"></div>
    </div>
</div>
</div>
</div>
</div>
<div class="survey-content">
<div class="items-content2">
<p>Front and Side Fascia Properly Installed and Properly lit
and Clean</p>
<div class="row">
  <div class="col col-33 pd-left" ion-datetime-picker date ng-model="dateValue">
     <div class="date-h">Target Date</div>
     <div class="date-f">{{dateValue| date: "yyyy-MM-dd"}}<i class="icon ion-android-calendar"></i></div>
  </div>
  <div class="col col-33 col-offset-33 pd-left toggle-bt pd-right">
  <div class="date-h">Response</div>
    <ion-toggle ion-toggle-text ng-model="simple"></ion-toggle>
  </div>
</div>
</div>
</div>
<div class="item border-none">
<div class="text-items">
  <label>Action Plan/Remark(TM)</label>
  <textarea placeholder="">Praesent auctor est lectus, a dictum ipsum egestas at. Mauris vitae
aliquam est. Donec in diam diam.</textarea>
  <ul>
  <li><span><a href="">Check Previous Action Plan</a></span></li>
  </ul>
</div>
<div class="text-items">
  <label>Action Plan/Remark(ASM)</label>
  <textarea placeholder="" disabled></textarea>
  <ul>
  <li><span><a href="">Check Previous Action Plan</a></span></li>
  </ul>
</div>
<div class="text-items">
  <label>Action Plan/Remark(ZM)</label>
  <textarea placeholder="" disabled=""></textarea>
  <ul>
  <li><span><a href="">Check Previous Action Plan</a></span></li>
  </ul>
</div>
</div>

    </ion-content>
    <ion-footer-bar class="bar-positive">
        <button class="button button-icon"><i class="ion-ios-arrow-left"></i> Previous</button>
        <button class="button button-icon">Next <i class="ion-ios-arrow-right"></i></button>
    </ion-footer-bar>
</div>
