<!-- <div class="bar bar-header header-top">
    <button class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">Dashboard</div>
    <button class="button button-icon icon ion-android-notifications-none"></button>
</div> -->
<ion-view view-title="Survey">
  <div class="dashboard-search">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-calm guidelinetabs">
      <div class="tabs tabs-icon-left">
        <a class="tab-item" href="#/app/guideLine">
          <i class="icon icon ion-record"></i>
          <span>Guidelines</span>
        </a>
        <a class="tab-item" href="#/app/salesData">
          <i class="icon icon ion-record"></i>
          <span>Sales Data</span>
        </a>
        <a class="tab-item" href="#/app/salesNorms">
          <i class="icon icon ion-record"></i>
          <span>Sales Norms</span>
        </a>
        <a class="tab-item active" href="#/app/survey">
          <i class="icon icon ion-record"></i>
          <span>Criteria</span>
        </a>
        <a class="tab-item" href="#/app/remark">
          <i class="icon icon ion-record"></i>
          <span>Remark</span>
        </a>
      </div>
    </div>
  </div>
  <div class="guideline" id="surveyCriteria">
    <ion-content>
      <div class="item item-divider">Dealer Code: <span>{{dealerCode}}</span></div>
<!--        <div class="Serach-filter">
        <div class="search-it">
          <div class="icon-search2"><i class="icon ion-android-bar"></i></div>
          <div class="icon-text1">
            <div class="search-select1">
              <select ng-init="selectedOption = criteria[0]" id="target" ng-model="selectedOption" ng-change="getCriteriaQues(selectedOption)" ng-options="data.criteriaId as data.criteriaName for data in criteria track by data.criteriaId">
                <option value="">-- please choose criteria --</option>
              </select>
            </div>
          </div>
          <div class="icon-circle">
            <div class="c100 p12 small">
              <span>45%</span>
              <div class="slice">
                <div class="bar1"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  -->
	  
	  	  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="currentIndex" show-pager="false">
			  <ion-slide>
				<ul>
					<li ng-repeat="data in criteria" class="" style="border-bottom:1px solid #ddd;padding: .5% 1%;">
					
						<div style="width:50%;float:left;position:relative;top:5px;" ng-click="getCriteriaQues(data.criteriaId,$index)">
							 {{data.criteriaName}}
						</div>
						
						<div style="width:50%;float:left;">
							<!-- <ion-checkbox ng-model="checked[$index]" ng-disabled='true'></ion-checkbox> -->
							
							<ion-checkbox ng-checked="data.isValidated==1?true:false" ng-disabled='true'></ion-checkbox>
							
						</div>
						<div style="clear: both;">
						</div>
					</li>
				</ul>
			  </ion-slide>
			  <ion-slide>
			  <div ng-show="quesContainer">
				<div ng-repeat="q in quesData">
				<p ng-show="$index==0" style='text-align:center;font-weight:500;font-size:17px;background: #f3eded;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;'>
						{{q.criteriaName}}
				</p>
				  <div class="survey-content">
					<div class="items-content2">
					  
					  <p style="font-size: 16px;">{{$index+1}}) <span style="text-decoration:underline;">{{q.questionName}}</p>
					  <div class="row">
						<div class="col col-33 pd-left" only-valid="{'after': 'today', 'inclusive': true}"  ion-datetime-picker date ng-model="dateValue" ng-change="updateTargetDate(dateValue,q.questionId,$index)">
						  <div class="date-h">Target Date</div>
						  <div ng-class="{'form-field-error': targetDateErr[$index] == true && isDateSet[$index]!=true && q.actionPlanDate==''}" class="date-f" style="color:#000;" ng-show="q.actionPlanDate!=''?true:false">{{q.actionPlanDate| date: "dd-MM-yyyy"}}<i class="icon ion-android-calendar"></i></div>
						  <div ng-class="{'form-field-error': targetDateErr[$index] == true && isDateSet[$index]!=true && q.actionPlanDate==''}" class="date-f" style="color:#000;" ng-show="q.actionPlanDate==''?true:false">{{dateValue| date: "dd-MM-yyyy"}}<i class="icon ion-android-calendar"></i></div>
						  <input type="hidden" value="{{dateValue| date: 'dd-MM-yyyy'}}" ng-model="q.target_date" ng-change="updateTargetDate(q.target_date,q.questionId)" name="target_date">
						  <div ng-show="targetDateErr[$index] && isDateSet[$index]!=true  && q.actionPlanDate==''" style="color:#f00;font-size:12px;">Enter Target Date</div>
						</div>
						<div class="col col-33 col-offset-33 pd-left toggle-bt pd-right">
						  <div class="date-h">Response</div>
						  <ion-toggle ion-toggle-text ng-checked="q.response=='true'?true:false" ng-model="q.response" ng-change="updateResponse(q.response,q.questionId,$index)" ng-disabled="{{survey_status}}"></ion-toggle>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="item border-none">
					<div class="text-items">
					  <label>Action Plan/Remark(TM)<span ng-show="actionPlanTSMErr[$index] && q.actionPlan==''" style="float: right; color:#f00;font-size:13px;">Enter action plan</span></label>
				   
					 <textarea ng-class="{'form-field-error': actionPlanTSMErr[$index] == true && q.actionPlan==''}" placeholder="" ng-disabled="(q.actionPlanStatus === 'true' || survey_status=='true')?true:false" ng-model="q.actionPlan" ng-change="updatePlanTSM(q.actionPlan,q.questionId,$index)">{{q.actionPlan}}</textarea>             
					 <ul>
						<li>
							<span>
								<a href="" ng-click="checkPlan = !checkPlan">Check Previous Action Plan</a>
							</span>
							
							<span ng-show="checkPlan">
								{{q.prvActionPlan}}
							</span>
						</li>
					  </ul>
					</div>
					
					<div class="text-items">
					  <label>Action Plan/Remark(ASM)<span ng-show="actionPlanASMErr[$index] && q.actionPlanAsm==''" style="float: right; color:#f00;font-size:13px;">Enter action plan</span></label>
					  <textarea ng-class="{'form-field-error': actionPlanASMErr[$index] == true && q.actionPlanAsm==''}" placeholder="" ng-disabled="(q.actionPlanAsmStatus === 'true' || survey_status=='true')?true:false" ng-model="q.actionPlanAsm" ng-change="updatePlanASM(q.actionPlanAsm,q.questionId,$index)">{{q.actionPlanAsm}}</textarea>
					  <ul>
						<li>
							<span>
								<a href="" ng-click="checkPlanAsm = !checkPlanAsm">Check Previous Action Plan</a>
							</span>
							
							<span ng-show="checkPlanAsm">
								{{q.prvActionPlanAsm}}
							</span>
						</li>
					  </ul>
					</div>
					
					<div class="text-items">
					  <label>Action Plan/Remark(ZM)<span ng-show="actionPlanZOErr[$index] && q.actionPlanZm==''" style="float: right; color:#f00;font-size:13px;">Enter action plan</span></label>
					  <textarea ng-class="{'form-field-error': actionPlanZOErr[$index] == true && q.actionPlanZm==''}" placeholder="" ng-disabled="(q.actionPlanZmStatus === 'true' || survey_status=='true')?true:false" ng-model="q.actionPlanZm" ng-change="updatePlanZM(q.actionPlanZm,q.questionId,$index)">{{q.actionPlanZm}}</textarea>
					  <ul>
						<li>
							<span>
								<a href="" ng-click="checkPlanZM = !checkPlanZM">Check Previous Action Plan</a>
							</span>
							
							<span ng-show="checkPlanZM">
								{{q.prvActionPlanZm}}
							</span>
						</li>
					  </ul>
					</div>
					
				  </div>

				</div>
				<div style="padding: 0 15px;font-size: 16px;">
				  <div>Add Attachment</div>
				  <div>
					<button class = "button" ng-click = "takePicture(cID,'camera')" ng-disabled="{{survey_status}}">Take Picture</button>
					<button class = "button" ng-click = "takePicture(cID,'gallery')" ng-disabled="{{survey_status}}">Upload from gallery</button>
				  </div>
				</div>
			  </div>
	   </ion-slide>
	</ion-slide-box>
    </ion-content>
    <ion-footer-bar class="bar-positive">
	<div class="pagers">
			<div ng-repeat="n in totalSlide" ng-class="{'pager-bg': slideIndex == $index}"></div>
		  </div>
      <a class="button button-icon" ng-href="#/app/salesNorms"><i class="ion-ios-arrow-left"></i> Previous</a>
      <a class="button button-icon" ng-href="#/app/remark">Next <i class="ion-ios-arrow-right"></i></a>
    </ion-footer-bar>
  </div>

</ion-view>
